<%= subject %>
<p>&nbsp;&nbsp;<%= deploy.try(:message) %> </p>
<% if changeset.commits.count == 0 %>
There are no new commits since last time.
<% else %>
<%= pluralize changeset.commits.count, "commit" %> by <%= changeset.author_names.to_sentence %>.
<br>

<% if false %>
<strong>Files changed:</strong>
<ul>
<% changeset.files.each do |file| %>
  <li><%= file.status[0].upcase %> <%= file.filename %></li>
<% end %>
</ul>
<% end %>

<strong>Commits:</strong>
<ol>
<% changeset.commits.each do |commit| %>
  <% if !commit.summary.start_with?("Merge pull request") %>
    <li><a href='<%= commit.url %>'>(<%= commit.author_name %>)</a>: <%= commit.summary %></li>
  <% end %>
<% end %>
</ol>
<% end %>
